{% extends 'base.html' %}
{% block content %}
{% if request.user.is_authenticated %}
    <h2> {{ user }}님, 안녕하세요</h2>
    <form action="{% url 'accounts:logout' %}" method="POST">
      {% csrf_token %}
      <input type="submit" value ='로그아웃'>
    </form>
    <a href="{% url 'accounts:update' %}">정보수정</a>
    <a href="{% url 'accounts:update_password' %}">비밀번호변경</a>
    <a href="{% url 'accounts:delete' %}">회원탈퇴</a>
  {% else %}
    <h2>로그인해주세요</h2>
    <a href="{% url 'accounts:login' %}">로그인</a>
    <a href="{% url 'accounts:signup' %}">회원가입</a> 
  {% endif %}

{% endblock content %}

