<!-- 간단한 삼성 비스코프 따라해보기 -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    *{
      box-sizing: border-box;
    }

    .container {
      position: relative;
    }

    .link {
      width: 10rem;
      height: 10rem;
      background-color: black;
      color: white;
      text-align: center;
      line-height: 10rem;
      border-radius: 50%;
      text-decoration: none;

    }

    .link-position {
      position: absolute;
      left: 0;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
    }

    .img {
      width: 100%;
    }
  </style>
</head>
<body>
  <div class="container">
    <img class="img" src="/html-css/kdt_html_css/layout/position/bespoke.webp" alt="비스포크냉장고">
    <a class = "link link-position" href="비스코프냉장고">비교하기</a>
  </div>

  
</body>
</html>